emp-sapi/src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="94d3389e-7a24-41c9-a546-90d5b5a95d51" >
		<http:listener doc:name="Update Employee Listener" doc:id="072a1221-a2da-42a7-b5bd-099b7622b59a" config-ref="HTTP_Listener_config" path="update-employee" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Start Log" doc:id="892c95ec-a085-41b0-b5fb-e0a115516bde" message="Started update employee flow"/>
		<db:update doc:name="Update Employee" doc:id="7d6faa8c-f138-4a2a-abb9-b9357c2050e9" config-ref="FODS_ORCL_Database_Config">
			<db:sql ><![CDATA[UPDATE ST1_ENT1_FORM_ODS.EMP SET EMP_STATUS=:empStatus WHERE EMP_ID=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empStatus: payload.employee.employeeStatus,
	empID: payload.employee.employeeID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set response" doc:id="ed720bd2-4ae3-49ad-a70e-aa17500f4ad4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		status: 200,
		message: "SUCCESS"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="7cf2523f-c266-467f-977e-e9ff5c55e321" message="End update employee flow"/>
	</flow>
</mule>
