mule-event-demo/src/main/mule/read-uri-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-uri-params-demoFlow" doc:id="0c35ea22-83e3-45c1-938c-9afdc43ad7c7" >
		<http:listener doc:name="Listener" doc:id="06165fa8-87a1-4f80-9966-f09095cb335e" config-ref="HTTP_Listener_config" path="read-uri-params/{empID}/{empName}/{empStatus}" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="2187e32f-33d2-4b8e-ae44-2baaa5d38d79" message="#[attributes.uriParams.empID]"/>
	</flow>
</mule>
