mule-event-demo/src/main/mule/read-json-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b38312a8-49b1-430d-b2f1-89247f011848" basePath="mule-message-structure-demo" >
		<http:listener-connection host="0.0.0.0" port="8089" readTimeout="60" />
	</http:listener-config>
	<flow name="read-json-demoFlow" doc:id="6caf7183-6a40-4317-8a56-42923d953a92" >
		<http:listener doc:name="Listener" doc:id="3413e20b-58b1-422d-b6ce-464d3b36c4df" config-ref="HTTP_Listener_config" path="read-json" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="1a1c14dd-217a-4cf1-93e0-b36e6219f068" message="#[payload.employeeID]"/>
	</flow>
</mule>
